<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<author href="" email=""></author>
<gap:platform name="android" />
<gap:platform name="ios" />
<preference name="phonegap-version" value="3.1.0" />
<preference name="permissions" value="none"/>
<access origin="*" subdomains="true"/>
</widget>
